<!DOCTYPE html>
{% include head.html %}
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-851 node-type-basic-page section-standard" >
  <div id="skip-link">
    <!--
        <a href="#main-menu" class="skip-link element-invisible element-focusable">Jump to navigation</a>
        -->
    <a href="#main-content" class="skip-link element-invisible element-focusable">Skip to main content</a>
  </div>

  <!--<div class="layout-centered page-wrapper">-->
  <!--<div class="menu-open"></div>-->
  <div class="ie-warning"><span class="warning-text">It looks like you're using an old version of Internet Explorer. For the best experience, please update your browser.</span></div>
  <header class="header" role="banner">
    {% include masthead.html %}
  </header>
    
  <div class="layout-centered page-wrapper">  
    {% include breadcrumb.html %}
    <div class="region region-highlighted layout-full">
      <div id="block-block-16" class="block block-block contextual-links-region first last odd">
	<div class="block__content">
	  <p><img alt="Alpha website" src="/sites/g/files/net261/f/styles/large/public/alpha.png?itok=jJyDAvnZ" title="Alpha website" /></p>
	  <p> We are building digital service guidance. <a href="/feedback?url_from=We%20are%20building">Tell us what you need</a>.</p>
	</div>
      </div>
    </div>
    <div class="layout-sidebar-left">
      <aside class="layout-sidebar-left__sidebar sidebar sidebar-left" role="complementary">
	<section class="region region-sidebar">
	  <div id="block-menu-block-govcms-menu-block-sidebar" class="block block-menu-block contextual-links-region first last odd" role="navigation">
            <h1 class="block__title block-title">Menu</h1>
	    <div class="block__content">
	      <div class="menu-block-wrapper menu-block-govcms_menu_block-sidebar menu-name-main-menu parent-mlid-0 menu-level-2">
		<ul class="menu">
		  <li class="menu__item is-active is-active-trail is-expanded first expanded active-trail active menu-mlid-2221">
		    <a href="/standard" title="" class="menu__link is-active-trail active-trail active">The Standard</a>
		    <ul class="menu">
		      <li class="menu__item is-leaf first leaf menu-mlid-2311"><a href="/standard/scope-digital-service-standard" class="menu__link">Scope of the Standard</a></li>
		      <li class="menu__item is-leaf leaf menu-mlid-2316"><a href="/standard/meeting-standard" class="menu__link">Meeting the Standard</a></li>
		      <li class="menu__item is-leaf leaf menu-mlid-2321"><a href="/standard/design-principles" class="menu__link">Design principles</a></li>
		      <li class="menu__item is-leaf last leaf menu-mlid-2326"><a href="/standard/service-design-process" class="menu__link">Service design process</a></li>
		    </ul>
		  </li>
		  <li class="menu__item is-collapsed collapsed menu-mlid-2286"><a href="/design-guides" class="menu__link">Design guides</a></li>
		  <li class="menu__item is-collapsed collapsed menu-mlid-2226"><a href="/standard/digital-transformation-plan" class="menu__link">Transformation planning</a></li>
		  <li class="menu__item is-leaf leaf menu-mlid-2296"><a href="/standard/common-government-solutions" class="menu__link">Common solutions</a></li>
		  <li class="menu__item is-leaf leaf menu-mlid-2341"><a href="/standard/case-studies" class="menu__link">Case studies</a></li>
		  <li class="menu__item is-leaf last leaf menu-mlid-2291"><a href="/standard/glossary" class="menu__link">Glossary</a></li>
		</ul>
	      </div>
	    </div>
	  </div>
	</section>
      </aside>
      <div class="layout-sidebar-left__main main-content" role="main">
	<a href="#skip-link" id="skip-content" class="element-invisible">Go to top of page</a>
	<a id="main-content"></a>
	
	  {{ content }}
	  
	<h2>Tools</h2>
	<p><span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png" /><a href="/sites/g/files/net466/f/digital-service-standard-kanban%20poster_0.pdf?v=1441256596" type="application/pdf; length=257621">Digital Service Standard Kanban poster - PDF (258 kb)</a></span></p>
	<p><span class="file"><img class="file-icon" alt="" title="application/pdf" src="/modules/file/icons/application-pdf.png" /><a href="/sites/g/files/net466/f/digital-service-standard-poster.pdf?v=1441256311" type="application/pdf; length=168232">Digital Service Standard poster - PDF (168 kb)</a></span></p>
	<p><em>The Digital Service Standard has been adapted from the <a href="https://www.gov.uk/service-manual/digital-by-default-26-points">UK Government’s Digital by Default Service Standard</a> under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v2.0</a>.</em></p>
	<p><strong>Last updated</strong>: 03 September 2015  |  <a href="/feedback?url_from=DigitalServiceStandardCriteria">Provide feedback on this page </a></p>
	
	
      </div>
    </div>

    
    <a href="#" class="scroll-to-top">Scroll To Top</a>
    <div class="recruitment-form">
      <script type="text/javascript" id="rbox-loader-script">
	if(!window._rbox) {
        _rbox = {
        host_protocol:document.location.protocol,
	ready:function(cb){this.onready=cb;}};
	(function(d, e){
	var s, t, i, src=['/static/client-src-served/widget/36555/rbox_api.js', '/static/client-src-served/widget/36555/rbox_impl.js'];
	t = d.getElementsByTagName(e); t=t[t.length - 1];
	for(i=0; i<src.length; i++){
			       s = d.createElement(e); s.src = _rbox.host_protocol + '//w.recruiterbox.com' + eval("src" + String.fromCharCode(91) + String(i) + String.fromCharCode(93));
			       t.parentNode.insertBefore(s, t.nextSibling);}})(document, 'script');
			       }
			       </script>
    </div>	  
  </div>
  <footer class="footer">
    <div class="connect-with-dto">
      <h2>Connect with DTO</h2>
      <a href="https://twitter.com/AusDTO" title="DTO Twitter"><div class="twitter-icon"></div></a>
      <a href="https://www.youtube.com/channel/UCmDkFN3UlK2wSKDQQhd-Y-A" title="DTO Youtube"><div class="youtube-icon"></div></a>
      <a href="https://www.linkedin.com/company/digital-transformation-office" title="DTO Linkedin"><div class="linkedin-icon"></div></a>
      <a href="https://github.com/AusDTO" title="DTO Github"><div class="github-icon"></div></a>
    </div>
    <div class="footer-links">
      <!--<a href="/" title="Home" rel="home" class="header__logo" id="logo"><img src="sites/all/themes/custom/dto_whitesite/images/update/government-crest.png" alt="Home" class="header__logo-image" /><span class="title">Digital Transformation Office</span></a>-->
      <div id="footer_bottom" class="region region-footer-bottom clearfix">
	<div id="block-menu-menu-footer-sub-menu" class="block block-menu contextual-links-region first last odd" role="navigation">
          <h2 class="block__title block-title">Footer Sub Menu</h2>
	  <div class="block__content">
	    <ul class="menu"><li class="menu__item is-leaf first leaf"><a href="/about" title="Link to about the DTO" class="menu__link">About</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/web-accessibility" class="menu__link">Accessibility</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/copyright" class="menu__link">Copyright</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/disclaimer" class="menu__link">Disclaimer</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/privacy-statement" class="menu__link">Privacy Statement</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/budget" title="" class="menu__link">Budget</a></li>
	      <li class="menu__item is-leaf leaf"><a href="/sitemap" title="" class="menu__link">Site map</a></li>
	      <li class="menu__item is-leaf last leaf"><a href="/engage" title="" class="menu__link">Contact us</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </footer>
</body>
</html>
